<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

            <input #input (keyup)="searchHospital( input.value )" 
                   class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br/>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br/>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

            <h3 class="card-title">
                Hospitales registrados ( <small>{{ totalRecords }}</small>)
            </h3>
            <table class="table table-hover">
                <thead>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Creado</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let _hospital of hospitals">
                        <td class="w70">
                            <img (click)="showModal( _hospital._id )" [src]="_hospital.img | image" 
                                 class="img-50 img-circle pointer">
                        </td>
                        <td>{{ _hospital.name }}</td>
                        <td>
                            
                        </td>
                        <td>
                            <button (click)="saveHospital( _hospital )" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                            </button>
                            <button (click)="deleteHospital( _hospital )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button (click)="changeFrom( -5 )" class="btn btn-secondary">
                Anteriores
            </button>
            <button (click)="changeFrom( 5 )" class="btn btn-secondary">
                Siguientes
            </button>

            </div>
        </div>
    </div>
</div>