<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card title">Usuarios</h4>
        
        <table class="table table-over" *ngIf="users.length">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let _user of users" [routerLink]="['/users']" class="pointer">
                    <td>
                        <img [src]="_user.img | image" class="img-50 img-circle">
                    </td>
                    <td>{{ _user.name }}</td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-info" *ngIf="!users.length">
            No hay registros
        </div>

      </div>
    </div>
  </div>

  <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card title">Doctores</h4>
          
          <table class="table table-over" *ngIf="doctors.length">
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let _doctor of doctors" [routerLink]="['/doctor', _doctor._id ]" class="pointer">
                        <td>
                            <img [src]="_doctor.img | image:'doctor'" class="img-50 img-circle">
                        </td>
                        <td>{{ _doctor.name }}</td>
                    </tr>
                </tbody>
          </table>

          <div class="alert alert-info" *ngIf="!doctors.length">
              No hay registros
          </div>
  
        </div>
      </div>
    </div>

    <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card title">Hospitales</h4>
            
            <table class="table table-over" *ngIf="hospitals.length">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let _hospital of hospitals" [routerLink]="['/hospitals']" class="pointer">
                            <td>
                                <img [src]="_hospital.img | image:'hospital'" class="img-50 img-circle">
                            </td>
                            <td>{{ _hospital.name }}</td>
                        </tr>
                    </tbody>
            </table>

            <div class="alert alert-info" *ngIf="!hospitals.length">
                No hay registros
            </div>
    
          </div>
        </div>
      </div>
</div>