<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Doctor: {{ doctor.name }}</h3>
            <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="saveDoctor( f )">
                        <div class="form-group">
                            <label >Nombre del doctor</label>
                            <input [(ngModel)]="doctor.name" name="name" type="text" class="form-control" placeholder="Nombre del doctor">
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="changeHospital( $event.target.value )" 
                                    [(ngModel)]="doctor.hospital_fk" name="hospital_fk" classs="form-control">
                                <option value="">Seleccione Hospital</option>
                                <option *ngFor="let _hospital of hospitals" [value]="_hospital._id">
                                    {{ _hospital.name }}
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                 
                        <a [routerLink]="['/doctors']" class="btn btn-inverse waves-effect waves-light">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-body">
            <h2 class="box-title m-b-0">Hospital</h2>
            <img [src]="hospital.img | image:'hospital'" class="rounded img-fluid">
        </div>
    </div>

    <div class="col-md-3" *ngIf="doctor._id">
        <div class="card card-body">
            <h2 class="box-title m-b-0">Foto</h2>
            <img (click)="changePhoto()" [src]="doctor.img | image:'doctor'" class="rounded img-fluid pointer">
        </div>
    </div>

</div>